[Desktop Entry]
Name=Drauger Installer
Version=1.0
Exec=/bin/drauger-installer-gtk %f
Icon=/usr/share/icons/Drauger/scalable/menus/drauger_os-logo.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=PackageManager;Application;System;
Comment=Install software from downloaded *.deb files