<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Drauger OS Development</vendor>
  <vendor_url>https://draugeros.org/go</vendor_url>

  <action id="org.drauger.drauger-installer-gtk.apt.policy">
    <description>Use the PolicyKit backend to allow drauger-installer administrative access</description>
    <message>Drauger Installer would like to install an application. Please authenticate to allow this.</message>
    <message xml:lang="en_US">Drauger Installer would like to install an application. Please authenticate to allow this.</message>
    <message xml:lang="en_AU">Drauger Installer would like to install an application. Please authenticate to allow this.</message>
    <message xml:lang="en_GB">Drauger Installer would like to install an application. Please authenticate to allow this.</message>
    <icon_name>alert</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/apt</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
