Package: drauger-installer
Version: 0.3.1
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: admin
Homepage: https://github.com/drauger-os-development/drauger-installer
Architecture: all
Priority: optional
Depends: zenity (>=3.28.1), apt (>=1.6.6), python-gtk2 (>=2.24.0-5.1ubuntu2), bash (>=4.4.18-2ubuntu1), drauger-icons (>=0.0.2)
Description: Gdebi alternative for Drauger OS
 drauger-installer is a Gdebi alternative for Drauger OS and other Debian based systems on which GDebi does not work. It is a simple script and can easily be hacked to do more or less if the user so desires.

